
:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #EEEEEE;
  --ash: #F4F4F4;
  --primary-color: #2B72FB;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
body {
  font-family:'Public Sans', sans-serif;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}
.logo {
    padding-left: 68px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}
#nav-menu {
  border-bottom: var(--border);
  font-family:'Public Sans', sans-serif;
}
.container {
  display: flex;
  align-items: center;
  height: 90px;
}
.menu {
  position: relative;
  background: var(--white);
  margin: auto;
}
.menu-bar li:first-child .dropdown {
  flex-direction: initial;
}
.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}
.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}
.menu-bar .dropdown-link-title {
  font-weight: 600;
}
.menu-bar .nav-link {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.6px;
  margin: auto;
  min-width: 60px;
  margin: auto;
  padding-inline: 72px;
}
.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}
.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}
.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}
.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}
.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}
.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}
.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}
.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}
.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.right-container .search {
  position: relative;
}
.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
  font-family:'Public Sans', sans-serif;
}
.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}
#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}
@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }
  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }
  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }
  .menu.show,
  .dropdown.active {
    display: block;
  }
  .dropdown ul {
    padding-left: 0.3rem;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }
  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    margin: 0;
  }
  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 154px;
    padding-right: 80px;
    font-family:'Public Sans', sans-serif;
  }
  .container {
    padding: 3rem;
    width: 400px;
  }
  input[type="search"] {
    -webkit-appearance: none !important;
    background-clip: padding-box;
    background-color: white;
    vertical-align: middle;
    border-radius: 0.25rem;
    border: 1px solid #E0E0E5;
    font-size: 1rem;
    width: 100%;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }
  input[type="search"]:focus {
    transition: all 0.5s;
    box-shadow: 0 0 40px #f9d442b9;
    border-color: #F9D342;
    outline: none;
  }
  form.search-form {
    display: flex;
    justify-content: center;
  }
  label {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    margin-bottom: 0;
  }
  input.search-field {
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    height: 51px;
    width: max-content;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  input.search-submit {
    height: 51px;
    margin: 0;
    padding: 1rem 1.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-family:'Public Sans', sans-serif;
    font-size: 1rem;
  }
  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .button {
    display: inline-block;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.15;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: #19313B;
    color: #FFFFFF;
    border: 1px solid transparent;
    vertical-align: middle;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .float {
    height: 49px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 600px;
  }
  .text-center {
    padding-top: 10px;
  }
  .footer {
    background:#19313B;
  }
  .footer-text {
    color:#ffffff;
    align-items: center;
    padding-inline: 150px;
  }
  .footer-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
  }


  .float-right {
    padding-left: 350px;
    font-family:'Public Sans', sans-serif;
  }

  .card-img-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-height: 257px;
    max-width: 257px;
    margin-top: 25px;
    font-family:'Public Sans', sans-serif;
}

.card{
    max-width: 290px;
    max-height: auto;
    border-radius: 20px;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Public Sans', sans-serif;
}

.feature1 {
  padding-top: 130px;
  text-align: center;
  font-size: 40px;
}

.h4{
    font-size: 18px;
    font-family:'Public Sans', sans-serif;
}

.nav-item {
  padding-bottom: 56px;
}

.nav-link{
    color: black;
    font-family:'Public Sans', sans-serif;
}

#products1 {
  margin-left: 64.5px;
  margin-right: 64.5px;
}